/* Resets some of the user stylesheet default rules */
html {
    box-sizing: border-box;  
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  header,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* My Styles */

  body {
      background-color: rgb(117, 153, 148);
  }

  main {
      background-color: rgb(237, 238, 243);
  }

  h1 {
      color: rgb(15, 74, 59);
  }

  .home-cards {
      background-color: rgba(15, 74, 59, 1);
  }

  .card {
      background-color: rgba(237, 238, 243, 1);
      max-width: 90%;
      margin: 0 auto;
  }