/* Imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Rasa:wght@500&display=swap');

/* Resets some of the user stylesheet default rules */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
header,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* My Styles */

.container {
    max-width: 1920px;
    margin: 0 auto;
}

body {
    background-color: rgb(117, 153, 148);
    font-family: 'Biryani', sans-serif;
}

header {
    background-color: rgba(15, 74, 59, 1);
    color: rgb(237, 238, 243);
    text-align: center;
}

main {
    background-color: rgb(237, 238, 243);
}

h1,
h2,
h3 {
    font-family: 'Rasa', serif;
}

#logo {
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
}

nav {
    display: inline-block;
    padding-bottom: .5rem;
}

nav ul,
footer ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
}

.hero-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 700px;
    min-height: 640px;
    max-width: 1920px;
    background-image: url("../images/hero-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-inner {
    position: relative;
    left: 10%;
    top: 10%;
}

.hero-inner h2 {
    font-size: 1.8rem;
}

button {
    background-color:rgba(15, 74, 59, 1);
    color:rgba(237, 238, 243, 1);
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
  background-color: rgba(159, 152, 73, 1);
  color: #000;
}

#hero-button {
    margin-top: 2rem;
}

.home-cards {
    background-color: rgba(15, 74, 59, 1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    background-color: rgba(237, 238, 243, 1);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

/* .card:first-of-type {
    margin-top: 2rem;
}

.card:last-of-type {
    margin-bottom: 2rem;
} */

.card img {
    margin: 0 auto;
}

.card h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

.card p {
    margin-bottom: 1rem;
}

footer {
    background-color: rgba(237, 238, 243, 1);
    text-align: center;
}

footer li {
    display: inline;
    padding: 0 1rem;
  }
  
  .footer-socials li i {
    color: inherit;
  }

@media screen and (min-width: 768px) {
    .home-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}    
