/* Imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Rasa:wght@500&display=swap');

/* Variables for Colors and Fonts */
:root {
    --main-bg-color: rgb(223, 228, 227);
    --color-primary: rgba(15, 74, 59, 1);
    --color-secondary: rgba(255, 194, 101, 1);
    --color-off-white: rgb(237, 237, 237);

    --font-headings: 'Rasa', serif;
    --font-secondary: 'Biryani', sans-serif;
}

/* Resets some of the user stylesheet default rules */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
header,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* My Styles */

.container {
    /* width: 100%; */
    width: clamp(320px, 100%, 1200px);
    margin: 0 auto;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--font-secondary)
}

header {
    background-color: var(--color-primary);
    color: var(--color-off-white);
    padding-top: 0.8rem;
}

main {
    background-color: var(--color-off-white);
    padding-bottom: 1rem;
}

h1,
h2,
h3 {
    font-family: var(--font-headings);
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
    text-decoration-color: transparent;
}

a:hover:not(.card),
a:focus:not(.card),
nav a[class="active"],
a.card:hover h2 {
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-decoration-color: initial;
}

#logo {
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
}

#logo a:hover,
#logo a:focus {
    text-decoration: none;
    text-decoration-color: transparent;
}


nav {
    display: inline-block;
    padding-bottom: .5rem;
}

a.card:hover h2,
a.card:focus h2 {
    color: var(--color-primary);
}

/* footer a:hover,
footer a:focus {
    color: var(--color-secondary);
} */


nav ul,
footer ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 0 1rem;
}

/* Hero Image Styles */

.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    min-height: 640px;
    background-image: url("../images/hero-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-inner {
    position: relative;
    left: 10%;
    top: 10%;
    width: fit-content;
}

.hero-inner h2 {
    font-size: 2rem;
}

#hero-button {
    background-color: var(--color-primary);
    ;
    color: var(--color-off-white);
    border: none;
    padding: 1rem 2rem;
    margin-top: 2rem;
    display: inline-block;
    font-size: 16px;
}

#hero-button:hover,
#hero-button:focus {
    background-color: var(--color-secondary);
    color: #000;
    text-decoration: none;
}

/* :focus {
    outline: 3px solid var(--color-secondary);
} */

/* Find Us page Styles */

#findus-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "findus-facilities"
        "findus-img"
        "findus-address"
        "findus-map"
        "findus-form"
    ;
    justify-items: center;
}

#findus-img {
    background-color: var(--color-primary);
    grid-area: findus-img;
}

#findus-img img {
    width: 100%;
}

#findus-facilities {
    grid-area: findus-facilities;
    padding-bottom: 2rem;
}

#findus-ul {
    text-align: left;
    list-style: none;
}

#findus-map {
    grid-area: findus-map;
}

#findus-address {
    grid-area: findus-address;
    min-height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#findus-form {
    grid-area: findus-form;
    padding: 2rem 0;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-off-white);
    width: 100%;
}

#findus-form h2 {
    color: var(--color-off-white);
    font-size: 2rem;
}

#findus-form form {
    margin: 0 auto;
    max-width: 600px;
}

#findus-form input[type=submit] {
    float: right;
    color: #000;
}

.findus-facilities-inner ul li {
    list-style-type: none;
    text-align: left;
}

.findus-facilities-inner i {
    color: var(--color-primary);
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

/* Menu Page Styles */

.menu-section dt {
    font-weight: bold;
    padding-top: 0.5rem;
}

.menu-section dd {
    font-size: smaller;
}

.menu-section h1,
h2 {
    color: var(--color-primary);
}

.menu-section h3 {
    padding-top: 1.5rem;
}

.menu-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-drinks-hot"
    "menu-drinks-cold" 
    "menu-sweet" 
    "menu-lunch";
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-img {
    display: none;
}

#menu-drinks-hot {
    grid-area: menu-drinks-hot;
}

#menu-drinks-hot-img {
    grid-area: menu-drinks-hot-img;
    background-image: url("../images/menu-coffee.jpg");
}

#menu-drinks-cold {
    grid-area: menu-drinks-cold;
}

#menu-drinks-cold-img {
    grid-area: menu-drinks-cold-img;
    background-image: url("../images/menu-juice.jpg");
    background-position: bottom;
}

#menu-sweet {
    grid-area: menu-sweet;
}

#menu-sweet-img {
    grid-area: menu-sweet-img;
    background-image: url("../images/menu-sweet.jpg");
    background-position: bottom;
}

#menu-lunch {
    grid-area: menu-lunch;
}

#menu-lunch-img {
    grid-area: menu-lunch-img;
    background-image: url("../images/menu-croissant.jpg");
}


/* Homepage Cards Styles */

.home-cards {
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    background-color: var(--color-off-white);
    padding: 1rem;
    margin: 1rem;
}

.card img {
    margin: 0 auto;
}

.card h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

.card p {
    margin-bottom: 1rem;
}

#main-welcome {
    grid-area: main-welcome;
    width: clamp(300px, 95%, 600px);
    margin: 0 auto;
}

/* Form Styles */

form {
    text-align: left;
}

input,
textarea {
    border: 2px solid var(--color-primary);
    padding: 0.1rem;
    margin: 0.1rem;
}

input[type=text],
input[type=email],
textarea {
    width: 95%;
    padding: 0.25rem 1rem;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: var(--color-secondary);
    color: var(--color-off-white);
    cursor: pointer;
    padding: 0.2rem 2rem;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-off-white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 0.8rem;
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer li {
    display: inline;
    padding: 0 1rem;
}

.footer-socials li i {
    color: inherit;
}

.footer-socials i:hover,
.footer-socials i:focus {
    color: var(--color-secondary);
    ;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "logo"
        "nav"
        "main"
        "footer";
}

#logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

#page-title {
    padding: 2rem 0;
}

#main-content {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.responsive-iframe {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (min-width: 768px) {
    .home-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-img {
        aspect-ratio: 1 / 1;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: inline;
    }

    #findus-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "findus-facilities findus-facilities"
            "findus-img findus-address"
            "findus-map findus-map"
            "findus-form findus-form";
    }

    .menu-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "menu-drinks-hot menu-drinks-hot-img" 
        "menu-drinks-cold-img menu-drinks-cold"
        "menu-sweet menu-sweet-img" 
        "menu-lunch-img menu-lunch";
    }

    .hero-inner h2 {
        font-size: 2.5rem;
    }

    .hero-inner h2 br {
        display: none;
    }

    footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-inner h2 {
        font-size: 3.5rem;
    }

    #logo {
        font-size: 5rem;
    }

    #findus-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "findus-facilities findus-img"
            "findus-map findus-address"
            "findus-form findus-form";
    }

    #findus-img {
        display: inline;
    }

    #footer-nav {
        flex-direction: column;
    }
}